{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block content %}
<div class="container">
    <div class="story">
    <center>
        <h1>Завершенные путешествия по городам</h1><br>
    </center>
    {% for trip in complete_trip_city_list %}
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>{{ trip.start_date|date:"d/m/Y" }} - {{ trip.end_date|date:"d/m/Y" }}</h3>
                </div>
                <div class="panel-body">
                    <h2>{{ trip.title }}</h2>
                    <p>{{ trip.description|truncatechars:80 }}</p>
                </div>
            </div>
    {% endfor %}
    </div>
</div>
{% include 'geography/includes/paginator.html' %}
{% endblock content %}
