{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block content %}
<div class="container">
    <div class="story">
    <center>
        <h1>{{ title }}</h1><br>
    </center>
    {% for trip in object_list %}
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>{{ trip.start_date|date:"j E Y" }} - {{ trip.end_date|date:"j E Y" }}</h3>
                </div>
                <div class="panel-body">
                    <a href="{% url url_name pk=trip.pk %}">
                        <h2>{{ trip.title }}</h2>
                    </a>
                    <p>{{ trip.description|truncatechars:80 }}</p>
                </div>
            </div>
    {% endfor %}
    </div>
</div>
{% include 'geography/includes/paginator.html' %}
{% endblock content %}
