{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}


{% block content %}

<center><h1>Route Cities</h1><br></center>

{% for route in route_cities_list %}

<div class="container">
    <div class="single">
        <div class="single-middle">
            <div class="col-md-7 need">
                <img class="img-responsive" src="{{ route.cities.first.image.url }}" alt="">
            </div>

            <div class="col-md-5 tag">
                <div class="social-in">
                    <p class="tag-in">
                        <span>
                            <strong>
                                <center><a href="{% url 'routes-cities-detail-url' pk=route.pk %}">{{ route.title }}</a></center>
                            </strong>
                        </span>
                    </p>

                    {% for city in route.cities.all %}

                        <div class="col-md-6 date">
                            <p>Регион
                                <a href="{% url 'region_detail_url' pk=city.region.pk %}">
                                    <span>{{ city.region }}</span>
                                </a>
                            </p>
                        </div>
                        <div class="col-md-6 date">
                            <p>Достопримечательности
                                <span>
                                    <a href="#">Website </a> |
                                    <a href="#"> Design</a>
                                </span></p>
                        </div>
                        <div class="clearfix"></div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}

{% endblock content %}
