{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}

<center><h1>{{ route_city_detail.title }}</h1><br></center>
<div class="container">
    <div class="single">
        <div class="single-middle">

            <div class="col-md-7 need">
                <script type="text/javascript">
                    function init () {
                        var points = [];
                        {% for city in route_city_detail.cities.all %}
                            points.push([{{ city.latitude }}, {{ city.longitude }}])
                        {% endfor %}

                        var multiRoute = new ymaps.multiRouter.MultiRoute({
                            // Описание опорных точек мультимаршрута.
                            referencePoints: points,
                            // Параметры маршрутизации.
                            params: {
                                // Ограничение на максимальное количество маршрутов, возвращаемое маршрутизатором.
                                results: 2
                            }
                            }, {
                                // Автоматически устанавливать границы карты так, чтобы маршрут был виден целиком.
                                boundsAutoApply: true
                        });

                        // Создаем карту с добавленными на нее кнопками.
                        var myMap = new ymaps.Map('map', {
                            center: [{{ middle_city.latitude }}, {{ middle_city.longitude }}],
                            zoom: 7,
                            controls: ['zoomControl'],
                            behaviors: ['drag']
                        });
                        myMap.geoObjects.add(multiRoute);
                    }
                    ymaps.ready(init);
                </script>
                <div id="map" style="wight:600px;height:500px;"></div>
            </div>

            <div class="col-md-5 tag">
                <div class="social-in">

                    <div class="col-md-4 date"><p>Город</p></div>
                    <div class="col-md-4 date"><p>Регион</p></div>
                    <div class="col-md-4 date"><p>Достопримечательность</p></div>

                    <div class="clearfix"></div>
                    <br>

                    {% for city in route_city_detail.cities.all %}
                        <div class="col-md-4 date">
                            <p>
                                <span>{{ city.title }}</span>
                            </p>
                        </div>

                        <div class="col-md-4 date">
                            <p>
                                <span>{{ city.region.title }}</span>
                            </p>
                        </div>


                        <div class="col-md-4 date">
                            <p>
                                {% for sight in city.sight.all %}
                                    <span>
                                        <a href="#">{{ sight.title }} </a>
                                    </span>
                                {% endfor%}
                            </p>
                        </div>

                        <div class="clearfix"></div>
                        <br>
                    {% endfor %}
                </div>
                <p class="tag-in">{{ route_city_detail.description }}</p>

            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>

{% endblock %}
