{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}


{% block content %}

<center><h1>Route Cities</h1><br></center>

{% for route in route_cities_list %}

<div class="container">
    <div class="single">
        <div class="single-middle">
            <div class="col-md-7 need">
                {% if route.cities.first.image %}
                    <img class="img-responsive" src="{{ route.cities.first.image.url }}" alt="{{ route.title }}">
                {% else %}
                    <img class="img-responsive" src="{% static 'images/not-foto.png' %}" alt="{{ route.title }}">
                {% endif %}
            </div>

            <div class="col-md-5 tag">
                <div class="social-in">
                    <p class="tag-in">
                        <span>
                            <strong>
                                <center>
                                    <a href="{% url 'routes-cities-detail-url' pk=route.pk %}">{{ route.title }}</a>
                                </center>
                            </strong>
                        </span>
                    </p>

                    <div class="col-md-4 date"><p>Город</p></div>
                    <div class="col-md-4 date"><p>Регион</p></div>
                    <div class="col-md-4 date"><p>Достопримечательность</p></div>
                    <div class="clearfix"></div>


                    {% for city in route.cities.all %}
                    <div class="col-md-4 date">
                        <p>
                            <a href="{% url 'city_detail_url' pk=city.pk %}">
                                <span>{{ city.title }}</span>
                            </a>
                        </p>
                    </div>

                    <div class="col-md-4 date padding: 20px;">
                        <p>
                            <a href="{% url 'region_detail_url' pk=city.region.pk %}">
                                <span>{{ city.region }}</span>
                            </a>
                        </p>
                    </div>

                    <div class="col-md-4 date ">
                        <p>
                            {% if city.sight.first %}
                            <a href="{% url 'sight_detail_url' pk=city.sight.first.pk %}">
                                        <span>
                                            {{ city.sight.first.title }}
                                        </span>
                            </a>
                            {% endif %}
                        </p>
                    </div>

                    <div class="clearfix"></div>
                    <br>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}

{% endblock content %}
