{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}

<center><h1>{{ route_city_detail.title }}</h1><br></center>
<div class="container">
    <div class="single">
        <div class="single-middle">

            <div class="col-md-7 need">
                <script type="text/javascript">
                    ymaps.ready(init);
                    function init(){
                        var myMap = new ymaps.Map("map", {
                                    {% if middle_city.latitude %}
                                        center: [{{ middle_city.latitude }}, {{ middle_city.longitude }}],
                                    {% else %}
                                        center: [59.92, 30.3461],
                                    {% endif %}
                                zoom: 4,
                                controls: ['zoomControl'],
                                behaviors: ['drag']
                        });
                        {% for city in route_city_detail.cities.all %}
                                myPlacemark = new ymaps.Placemark([{{ city.latitude }},  {{ city.longitude }}],
                                                {
                                                    hintContent: '{{ city.title }}'
                                                });
                                myMap.geoObjects.add(myPlacemark);
                        {% endfor %}
                    }
                </script>
                <div id="map" style="wight:600px;height:500px;"></div>
            </div>

            <div class="col-md-5 tag">
                <div class="social-in">

                    <div class="col-md-4 date"><p>Город</p></div>
                    <div class="col-md-4 date"><p>Регион</p></div>
                    <div class="col-md-4 date"><p>Достопримечательность</p></div>
                    <div class="clearfix"></div>

                    {% for city in route_city_detail.cities.all %}
                        <div class="col-md-4 date">
                            <p>
                                <span>{{ city.title }}</span>
                            </p>
                        </div>

                        <div class="col-md-4 date">
                            <p>
                                <span>{{ city.region.title }}</span>
                            </p>
                        </div>


                        <div class="col-md-4 date">
                            <p>
                                {% for sight in city.sight.all %}
                                    <span>
                                        <a href="#">{{ sight.title }} </a>
                                    </span>
                                {% endfor%}
                            </p>
                        </div>

                        <div class="clearfix"></div>
                    {% endfor %}
                </div>
                <p class="tag-in">{{ route_city_detail.description }}</p>

            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>

{% endblock %}
