{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block content %}
<div class="container">
    <div class="story">
        <center>
            <h1>CITIES</h1>
            <br>
        </center>
        {% for city in city_list %}

        <div class="col-md-3 story-popular">
            <div class="feature text-center">
                {% thumbnail city.image "x150" crop="center" as im %}
                <a href="{{ city.image.url }}">
                    <img class="img-responsive"
                         src="{{ im.url }}"
                         alt="">
                </a>
                {% empty %}
                <img class="img-responsive"
                     src="{% static 'images/not-foto.png' %}"
                     style="height:150px;"
                     alt="">
                {% endthumbnail %}
            </div>
            <div class="feature text-left">
                <a href="{% url 'city_detail_url' pk=city.pk %}">
                    <h6>{{ city.title }}</h6>
                </a>
                <p>
                    {% if city.description %}
                    {{ city.description|truncatewords:10 }}
                    {% else %}
                    {% lorem 10 w random %}
                    {% endif %}
                </p>
            </div>
        </div>
        {% endfor %}
        <div class="clearfix"></div>
    </div>

    {% include 'geography/includes/paginator.html' %}

</div>
{% endblock %}
