{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block content %}
<div class="container">
    <div class="story">
        <center>
            <h1>Города</h1>
            <br>
        </center>
        {% for city in city_list %}
        <div class="col-md-3 story-popular need" style="height:450px;">
            <div class="feature text-center">
                {% thumbnail city.image "x250" crop="center" as im %}
                <a href="{{ city.image.url }}">
                    <img src="{{ im.url }}"
                         style="height:250px;"
                         alt="">
                </a>
                {% empty %}
                <img src="{% static 'images/not-foto.png' %}"
                     style="height:250px;"
                     alt="">
                {% endthumbnail %}

                <a href="{% url 'city_detail_url' pk=city.pk %}">
                    <h6>{{ city.title }}</h6>
                </a>
                <p>{{ city.description|truncatechars:80 }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="clearfix"></div>
</div>
{% include 'geography/includes/paginator.html' %}
{% endblock %}
