{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block content %}
<div class="container">


    <div class="story">
        <center>
            <h1>CITIES</h1>
            <br>
        </center>
        {% for city in city_list %}
        <a href="{% url 'city_detail_url' pk=city.pk %}">
            <div class="col-md-4 story-popular">
                <div class="image">
                    {% if city.image %}
                    {% thumbnail city.image "220" as im %}
                    <a href="{{ city.image.url }}">
                        <img class="img-responsive"
                             src="{{ im.url }}"
                             alt="">
                    </a>
                    {% endthumbnail %}
                    {% else %}
                    <img class="img-responsive"
                         src="{% static 'images/not-foto.png' %}"
                         alt="">
                    {% endif %}
                </div>
                <div>
                    <h6>{{ city.title }}</h6>
                    <p>
                        {% if city.description %}
                        {{ city.description|truncatewords:10 }}
                        {% else %}
                        {{ mock_text|truncatewords:10}}
                        {% endif %}
                    </p>
                </div>
            </div>
        </a>
        {% endfor %}
        <div class="clearfix"></div>
    </div>

    {% include 'geography/includes/paginator.html' %}

</div>
{% endblock %}
