{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="services">
      <h3 >REGIONS</h3>
      <div class="grid-top-top">
        {% for region in region_list %}
          <div class="col-md-6 ">
            <a href="{% url 'region_detail_url' pk=region.pk%}">
              <div class="col-md-6 service-grid">
                  {% if region.image %}
                    <img class="img-responsive" src="{{ region.image.url }}" alt=""/>
                  {% else %}
                    <img class="img-responsive" src="{% static 'images/not-foto.png' %}" alt=""/>
                  {% endif %}
              </div>
              <div class="col-md-6 top-grid-right">
                <h4>{{ region.title }}</h4>
                <p>
                  {{ region.description }}

                  There are many variations of passages of Lorem Ipsum available,
                  but the majority have suffered alteration in some form, by injected humour,
                  or randomised words which don't look even slightly believable.
                </p>
              </div>
            </a>
            <div class="clearfix"> </div>
          </div>
        {% endfor %}


        <div class="clearfix"> </div>
      </div>
    </div>

    {% if is_paginated %}
        <center>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                  </li>
                {% endif %}

                {% for n in page_obj.paginator.page_range %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{n}}">{{ n }}</a>
                  </li>
                {% endfor %}


                {% if page_obj.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                  </li>
                {% endif %}
            </ul>
          </nav>
        </center>
    {% endif %}

  </div>
{% endblock %}
