{% extends 'base.html' %}
{% load static %}
{% load thumbnail%}

{% block content %}
<div class="container">
    <center>
        <h1>{{ region_detail.title }}</h1>
    </center>
    {% with cities=object_list %}

    <div class="story">
        {% for city in cities %}
        <a href="{% url 'city_detail_url' pk=city.pk %}">
            <div class="col-md-4 story-popular">
                {% thumbnail city.image "x150" as im %}
                <img class="img-responsive " src="{{ im.url }}" alt="">
                {% empty %}
                <img class="img-responsive "
                     src="{% static 'images/not-foto.png' %}"
                     style="height:150px;"
                     alt="">
                {% endthumbnail %}
                <h6>{{ city.title }}</h6>
                <p>
                    {% if city.description %}
                    {{ city.description|truncatewords:14 }}
                    {% else %}
                    {% lorem 14 w random %}
                    {% endif %}
                </p>
            </div>
        </a>
        {% endfor %}
        <div class="clearfix"></div>
    </div>
    {% endwith %}

    {% include 'geography/includes/paginator.html' %}
</div>
{% endblock %}
