{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block content %}
<div class="container">
    <div class="story">
        <center>
            <h1>Достопримечательности</h1>
            <br>
        </center>
        {% for sight in queryset %}

        <div class="col-md-4 story-popular" style="height:300px;">
            <div class="feature text-center">
                {% thumbnail sight.image "x150" crop="center" as im %}
                <a href="{{ sight.image.url }}">
                    <img src="{{ im.url }}"
                         alt="">
                </a>
                {% empty %}
                <img src="{% static 'images/not-foto.png' %}"
                     style="height:150px;"
                     alt="">
                {% endthumbnail %}

                <a href="{% url 'sight_detail_url' pk=sight.pk %}">
                    <h4>{{ sight.title | truncatechars:30 }}</h4>
                </a>
                <p>
                    {{ sight.text | truncatechars:80 }}
                </p>
            </div>
        </div>
        {% endfor %}
        <div class="clearfix"></div>
    </div>

    {% include 'geography/includes/paginator.html' %}

</div>
{% endblock content %}
