{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>{{ sight_detail.title }}</h1>
    <div class="single-middle">
        <div class="col-md-7 need">
            {% if sight_detail.image %}
            <img class="img-responsive"
                 src="{{ sight_detail.image.url }}"
                 alt="">
            {% else %}
            <img class="img-responsive"
                 src="{% static 'images/not-foto.png' %}"
                 alt="">
            {% endif %}
        </div>
        <div class="col-md-5 tag">
            <div class="social-in">
                <div class="col-md-4 date">
                    <p>Date add<span>{{ sight_detail.add_date|date:"d m Y" }}</span></p>
                </div>
                <div class="col-md-4 date">
                    <p>City
                        <a href="{% url 'city_detail_url' pk=sight_detail.city.pk %}">
                            <span>{{ sight_detail.city.title }}</span>
                        </a>
                    </p>
                </div>
                <div class="col-md-4 date">
                    <p>Region
                        <a href="{% url 'region_detail_url' pk=sight_detail.city.region.pk %}">
                            <span>{{ sight_detail.city.region.title }}</span>
                        </a>
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
            <p class="tag-in">
                <span>
                    {% if sight_detail.text %}
                    {{ sight_detail.text }}
                    {% else %}
                    {% lorem 2 p %}
                    {% endif%}
                </span>
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

{% endblock %}
