{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}

<center>
    <table border="1" cellpadding="5px" cellspacing="5px">
        <tr>
            <td>Регион</td>
            <td>Главный Город</td>
            <td>Самая главная достопримечательность</td>
            <td>Лучшее Фото</td>
        </tr>
        {% for region in regions %}
        <tr>
            <td>{{ region }}</td>
            <td>{{ region.city }}</td>
            <td>{{ region.sight }}</td>
            <td>{{ region.photo }}</td>
        </tr>

        {% endfor %}

    </table>
</center>

{% endblock content %}

{% include 'geography/includes/paginator.html' %}
