{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}

<center>
    <table border="1" cellpadding="5px" cellspacing="5px">
        <tr align="center">
            <td>Регион</td>
            <td>Главный Город</td>
            <td>Самая главная достопримечательность</td>
            <td>Лучшее Фото</td>
        </tr>
        {% for region in catalog %}
        <tr>
            <td>{{ region.region }}</td>
            <td>{{ region.city }}</td>
            <td>{{ region.sight }}</td>
            <td align="center">
                <a href="{{ region.photo.file.url }}">
                    {% thumbnail region.photo.file "x150" as im %}
                    <img src="{{ im.url }}">
                    {% endthumbnail %}
                </a>
            </td>
        </tr>

        {% endfor %}

    </table>


    <div class="pagination">
        <span class="step-links">
            {% if catalog.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ catalog.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ catalog.number }} of {{ catalog.paginator.num_pages }}.
            </span>

            {% if catalog.has_next %}
                <a href="?page={{ catalog.next_page_number }}">next</a>
                <a href="?page={{ catalog.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</center>

{% endblock content %}
