{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block content %}

<center>
    <table border="1" cellpadding="5px" cellspacing="5px">
        <tr align="center">
            <td>Регион</td>
            <td>Главный Город</td>
            <td>Самая главная достопримечательность</td>
            <td>Лучшее Фото</td>
        </tr>
        {% for region in regions %}
        <tr>
            <td>{{ region.region }}</td>
            <td>{{ region.city }}</td>
            <td>{{ region.sight }}</td>
            <td>
                {% if region.photo %}
                <img class="img-responsive"
                     width="150px;"
                     height="150px;"
                     src="{% static '{{ region.photo }}' %}"
                     alt=""/>
                {% endif %}
            </td>
        </tr>

        {% endfor %}

    </table>
</center>

{% endblock content %}
