{% extends 'base.html' %}

{% block title %}
    TopTraces
{% endblock %}

{% block content %}

<!-- Lightbox. -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox-plus-jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox.min.js"></script>


<div class="container">
  <table class="table mt-5">
    <tbody>
      <tr>
        <th scope="col">Маршруты по городам</th>
        <th scope="col">Города</th>
        <th scope="col">Популярная достопримечательнотсь</th>
        <th scope="col">Популярная картинка</th>
      </tr>
      {% for id, title in traces %}
      <tr>
        <td><a href="{% url 'routes-cities-detail-url' pk=id %}">{{ title }}</a></td>
        <td><ul><li>Города</li></ul></td>
        <td><ul><li>Достоапремечательность</li></ul></td>
        <td>
          <a href="https://st2.depositphotos.com/2001755/5408/i/450/depositphotos_54081723-stock-photo-beautiful-nature-landscape.jpg" data-lightbox="image-1" data-title="Заголовок картинки">
            <img width="150" src="https://st2.depositphotos.com/2001755/5408/i/450/depositphotos_54081723-stock-photo-beautiful-nature-landscape.jpg" alt="">
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}
