{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}
TopTraces
{% endblock title %}

{% block content %}

<!-- Lightbox. -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox-plus-jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox.min.js"></script>


<div class="container">
    <table class="table mt-5">
        <tbody>
        <tr>
            <th scope="col">Маршруты по городам</th>
            <th scope="col">Популярный город</th>
            <th scope="col">Популярная достопримечательность</th>
            <th scope="col">Популярная картинка</th>
        </tr>
        {% for route in context %}
        <tr>
            <td>{{ route.trace }}</a></td>
            <td>{{ route.city }}</td>
            <td>{{ route.sight }}</td>
            <td style='text-align: center'>
                <a href="{{ route.photo.file.url }}"
                   data-lightbox="image-{{img.id}}"
                   data-title="Популярная картинка">
                    {% thumbnail route.photo.file "x150" as im %}
                    <img src="{{ im.url }}">
                    {% endthumbnail %}
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
