{% extends 'base.html' %}

{% block title %}
    TopTraces
{% endblock %}

{% block content %}

<!-- Lightbox. -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox-plus-jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox.min.js"></script>


<div class="container">
  <table class="table mt-5">
    <tbody>
      <tr>
        <th scope="col">Маршруты по городам</th>
        <th scope="col">Города</th>
        <th scope="col">Популярная достопримечательнотсь</th>
        <th scope="col">Популярная картинка</th>
      </tr>
      {% for route, data in datas.items %}
        <tr>
          <td><a href="{% url 'routes-cities-detail-url' pk=route.0 %}">{{ route.1 }}</a></td>
          <td>
            <ul>
              {% for id, city in data.0 %}
                <li><a href="{% url 'city_detail_url' pk=id %}">{{ city }}</a></li>
              {% endfor %}
            </ul>
          </td>
          <td>
            <ul>
              {% for id, sight, rating in data.1 %}
                <li><a href="{% url 'sight_detail_url' pk=id %}">{{ sight }}</a>
                    <span><i>{{ rating }}</i></span>
                </li>
              {% endfor %}
            </ul>
          </td>
          <td>
            {% for id, file in data.2 %}
                <a href="/media/{{ file }}" data-lightbox="image-{{id}}" data-title="Популярная картинка">
                  <img width="150" src="/media/{{ file }}" alt="">
                </a>
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}
